html {
    box-sizing: border-box;
    font-size: 10px;
    height: 100%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

#map {
    height: 100%;
}